<div class="event-info">
  <h2><%= link_to event.name, event %></h2>
  <p><%= event.datetime %></p>
  <p><%= event.location %></p>

  <% if event.creator == current_user %>
    <%= link_to 'Edit', edit_event_path(event) %>
    <%= button_to 'Destroy', event_path(event), method: :delete,
                             data: { turbo_confirm: 'Are you sure?' } %>
  <% end %>
</div>
